/* Card container styling */
.card-container {
    display: flex;
    gap: 30px; /* Space between cards */
    padding: 20px;
    overflow-x: auto; /* Allows scrolling if cards extend past screen width */
    justify-content: center;
    width: 100%;
    background-color: transparent;
    margin-top: 30px;
}

/* Card styling */
.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    width: 380px; /* Increased card width */
    height: 380px; /* Increased card height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
}

.card img {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.card-content p {
    font-size: 1rem;
    line-height: 1.5;
}

.card:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 2rem;
    color: #1b29a7;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1::after {
    content: "";
    width: 130px;
    height: 4px;
    background-color: #333;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}
.card-icon {
    margin-bottom: 10px; /* Reduce this value to decrease space */
}

.card-heading {
    margin-top: 25px; /* Adjust as needed to reduce the gap */
}
.card-content h5 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
