


.navbar {
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(211, 26%, 65%);
    position: relative;
    height: 1%;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}

.logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo-part-2 {
    padding: 5px 10px;
    border: 2px solid #1b4da3;
    clip-path: polygon(1% 0%, 100% 0%, 99% 100%, 0% 100%);
    font-weight: bolder;
}
.nav-links {
    list-style: none;
    display: flex;
    
}



.nav-links li a {
    text-decoration: none;
    color: #0e1e2e;
}





.cta-button {
    padding: 15px 30px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.cta-button:hover {
    background-color: #5a52e5;
}

.hero-image img {
    width: 500px;
    height: auto;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: #0e1e2e;
    position: relative;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0e1e2e; 
    left: 0;
    bottom: -5px; 
    transition: width 0.3s ease-in-out; 
}

.nav-links li a:hover::after {
    width: 100%; 
}

